.container {
  width: 60%;
  height: 40%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  img {
    width: 100%;
  }
}

.cart {
  width: 100%;
  font-size: 2.2rem;
  text-align: center;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  button {
    text-transform: uppercase;
    width: 250px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    background: rgb(233, 170, 54);
    border: none;
    transition: 0.3s;
    &:hover {
      background: orange;
    }
  }
}

.img {
  width: 100%;
  padding: 10px;
}
