.Modal {
  background: white;
  width: 50%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 25%;
  padding: 50px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.CardDemo {
  height: 100%;
  width: 100%;
  form {
    margin: 40px auto;
    button {
      margin-top: 10px;
    }
  }
  h1 {
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    line-height: 50px;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 20px;
    &::placeholder {
      color: #aab7c4;
    }
  }
}

.bt {
  margin-top: 50px;
  button {
    text-transform: uppercase;
    width: 250px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    background: lightgreen;
    border: none;
    width: 100%;
  }
}

.close {
  border: none;
  background: none;
  width: 100px;
  color: black;
  transition: 0.3s;
  font-size: 1rem;
  line-height: none;
  &:hover {
    background: none;
  }
}

.error {
  text-align: center;
  position: fixed;
  color: black;
  text-transform: uppercase;
  margin-top: 20px;
}

.par {
  border-bottom: 1px solid grey;
}
