@import url("https://fonts.googleapis.com/css?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow: auto;
  font-family: "Montserrat";
  &::-webkit-scrollbar {
    display: none;
  }
}

button:focus {
  outline: 0;
}

*:focus {
  outline: none;
}
